*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(129, 114, 199);
}
.heading{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 10px;
}
#head{
    font-size: 1.8em;
    color: green;
    text-decoration-line: underline;
}
#subhead{
font-size: 12px;
margin-top: 10px;
margin-bottom: 10px;
text-decoration-line: underline;
}

/* body*/
.container{
    width: 800px;
    margin: 40px auto 10px ;
    padding: 20px;
    background-color: #cbd5d5;
  
}


form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.containerr{
    flex: 50%;
}
form .box{
    width: 90.5%;
    height: 1.8em;
    position: relative;
    bottom: 10px;
    border: 0;
    border-radius: 5px;
    padding-left: 4px;
    outline: none;
    overflow: auto;
}

.btn{
    width:90.5% ;
    height: 1.8em;
    color: rgb(11, 9, 8);
    background-color: rgb(233, 61, 8) ;
    
}